/*
Color guides:
  Duke Royal Blue: #00539B
  Ironweed: #993399
  Piedmont: #A1B70D
*/

.highlight { 
  background-color: #88B04B; 
  border-radius:    5px; 
  padding:          5px;
}

.warning { 
  background-color: #fff3cd; 
  border-radius:    5px; 
  padding:          20px;
}

.info {
  background-color: #e4e7eb;
  border-radius:    5px; 
  padding:          20px;
}

.nav-pills>li.active>a, 
.nav-pills>li.active>a:focus, 
.nav-pills>li.active>a:hover {
    font-weight:      normal;
    color:            #ffffff;
    background-color: #93c54b;
}

a {
  color:       #993399;
  font-weight: bold;
}